doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    title Ciao Mondo
  body
    header.header
      h1 #{title}
    article.container
      each giocatore in squadra
       article.container
        div.profile-image(style=`background: url('${giocatore.foto}') top center no-repeat; background-size: cover;`)
        div 
          h1.profile-name #{giocatore.nome}
          p.profile-bio
            br
            strong gol fatti: #{giocatore.gol_fatti}
            br
            strong periodo in cui ha giocato: #{giocatore.periodo}
            br
            strong anni: #{giocatore.anni}
  div.container
    a(href="") 
    a.button.button-buy(href='/') Torna Alla home
  